*{
  background-color: rgb(32, 30, 30);
  color: white;

}

.App {
  text-align: center;
  margin-top: 10%;
}

form{
  display: flex;
  flex-direction: column;
  width: 300px;
  
  font-size: larger;
  font-weight: bolder;
  gap: 10px;
  margin: auto;
  text-align: left;
  padding: 50px;
  border-radius: 20px;
  box-shadow: inset -10px -10px 10px 10px rgb(247, 63, 148),
  inset 10px -10px 10px 10px rgb(12, 16, 228),
  inset -10px 10px 10px 10px rgb(78, 236, 5),
  inset 10px 10px 10px 10px rgb(248, 27, 38);

}

form div{
  display: flex;
  flex-direction: column;
  gap: 5px;
  
}
input{
  height: 30px;
  border: 2px solid gray;
}

button{
  height: 30px;
  background-color: rgb(39, 36, 36);
}